.Footer {
    background-color: var(--footer);
    color: var(--text-secondary);
    font-family: var(--font-geist-sans);
    font-size: 18px;
    padding-top: 5em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
    
    align-items: center;
    justify-content: center;
}